{% extends "app/layout.html" %}

{% block styletypes %}
{% endblock %}



{% block content %}
<br/>
<div class="display-4 head-word font-weight-bold">{{ title }}.</div>
<h3 class="body-set-1-strong font-weight-bold">{{ message }}</h3>


<p>
    오파츠 서버(하늘, 고지대, 지상, 물+얼음, 지하, 지옥(불+용암), 엔더)
    sky-ecosystem-1, 2 .. sky-mob-1 ...
</p>

<a href="#" data-toggle="modal" data-target="#sky-ecosystem-1">
    <img class="mx-auto img-fluid rounded" src="http://i.imgur.com/YZ7AGyF.jpg"  alt="">
</a>
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>





<a href="#" data-toggle="modal" data-target=".pop-up-1">
    <img src="http://i.imgur.com/YZ7AGyF.jpg" width="150" class="img-responsive img-rounded center-block" alt="">
</a>



<hr>

<!-- Thumbnail link for lion image -->
<a href="#" data-toggle="modal" data-target=".pop-up-2">
    <img src="http://i.imgur.com/dtaHtds.jpg" width="150" class="img-responsive img-rounded center-block" alt="">
</a>

   
<!--  Modal content for the mixer image example -->
<div class="modal fade pop-up-1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myLargeModalLabel-1">Mixer Board</h4>
            </div>
            <div class="modal-body">
                <img src="http://i.imgur.com/YZ7AGyF.jpg.jpg" class="img-responsive img-rounded center-block" alt="">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal mixer image -->
 

{% endblock %}





<!--    

<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Dg0IjOzopYU?autoplay=1" frameborder="0"></iframe>
</div>

<div class="thumbnail img-auto">
    { % load static %}
    <img src="{ % static 'app/media/environment_mob_1.png' %}" alt="environment_mob_1 image">
</div>


<div class="thumbnail img-auto">
    { % load static %}
    <img src="{ % static 'app/media/environment_mob_2.png' %}" alt="environment_mob_2 image">
</div>


<div class="thumbnail img-auto">
    { % load static %}
    <img src="{ % static 'app/media/environment_mob_3.png' %}" alt="environment_mob_3 image">
</div>


<div class="thumbnail img-auto">
    { % load static %}
    <img src="{ % static 'app/media/environment_mob_4.png' %}" alt="environment_mob_4 image">
</div>


<div class="thumbnail img-auto">
    { % load static %}
    <img src="{ % static 'app/media/environment_mob_5.png' %}" alt="environment_mob_5 image">
</div>
-->