{% extends "app/layout.html" %}

{% block styletypes %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'app/content/jssor.slider.min.js' %}"/>
{% endblock %}



{% block content %}

<br/>
<div class="display-4 head-word font-weight-bold">{{ title }}.</div>
<h3 class="body-set-1-strong font-weight-bold">{{ message }}</h3>


<p>
    오파츠 서버(하늘, 고지대, 지상, 물+얼음, 지하, 지옥(불+용암), 엔더)
    sky-ecosystem-1, 2 .. sky-mob-1 ...
</p>

<a href="#" data-toggle="modal" data-target="#sky-ecosystem-1">
    <img class="mx-auto img-fluid rounded" src="{% static 'app/media/environment_mob_1.png' %}" alt="">
</a>
<div class="modal fade" id="sky-ecosystem-1" tabindex="-1" role="dialog" aria-labelledby="sky-ecosystem-1-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-full" role="document">
        <div class="modal-body">
            <img class="mx-auto d-block img-fluid" src="{% static 'app/media/environment_mob_1.png' %}" alt="">
        </div>
    </div>
</div>









    <!-- #region Jssor Slider Begin -->
    <!-- Generator: Jssor Slider Maker -->
    <!-- Source: https://www.jssor.com -->
    <script type="text/javascript">
        jssor_1_slider_init = function() {

            var jssor_1_options = {
              $AutoPlay: 1,
              $DragOrientation: 2,
              $PlayOrientation: 2,
              $BulletNavigatorOptions: {
                $Class: $JssorBulletNavigator$,
                $Orientation: 2
              }
            };

            var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);

            /*#region responsive code begin*/

            var MAX_WIDTH = 980;

            function ScaleSlider() {
                var containerElement = jssor_1_slider.$Elmt.parentNode;
                var containerWidth = containerElement.clientWidth;

                if (containerWidth) {

                    var expectedWidth = Math.min(MAX_WIDTH || containerWidth, containerWidth);

                    jssor_1_slider.$ScaleWidth(expectedWidth);
                }
                else {
                    window.setTimeout(ScaleSlider, 30);
                }
            }

            ScaleSlider();

            $Jssor$.$AddEvent(window, "load", ScaleSlider);
            $Jssor$.$AddEvent(window, "resize", ScaleSlider);
            $Jssor$.$AddEvent(window, "orientationchange", ScaleSlider);
            /*#endregion responsive code end*/
        };
    </script>
    <style>
        /*jssor slider loading skin spin css*/
        .jssorl-009-spin img {
            animation-name: jssorl-009-spin;
            animation-duration: 1.6s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }

        @keyframes jssorl-009-spin {
            from { transform: rotate(0deg); }
            to { transform: rotate(360deg); }
        }

        /*jssor slider bullet skin 031 css*/
        .jssorb031 {position:absolute;}
        .jssorb031 .i {position:absolute;cursor:pointer;}
        .jssorb031 .i .b {fill:#000;fill-opacity:0.5;stroke:#fff;stroke-width:1200;stroke-miterlimit:10;stroke-opacity:0.3;}
        .jssorb031 .i:hover .b {fill:#fff;fill-opacity:.7;stroke:#000;stroke-opacity:.5;}
        .jssorb031 .iav .b {fill:#fff;stroke:#000;fill-opacity:1;}
        .jssorb031 .i.idn {opacity:.3;}
    </style>


<div id="jssor_1" style="position:relative;margin:0 auto;top:0px;left:0px;width:980px;height:380px;overflow:hidden;visibility:hidden;">
        <!-- Loading Screen -->
        <div data-u="loading" class="jssorl-009-spin" style="position:absolute;top:0px;left:0px;width:100%;height:100%;text-align:center;background-color:rgba(0,0,0,0.7);">
            <img style="margin-top:-19px;position:relative;top:50%;width:38px;height:38px;" src="img/spin.svg" />
        </div>
        <div data-u="slides" style="cursor:default;position:relative;top:0px;left:0px;width:980px;height:380px;overflow:hidden;">
            <div data-p="170.00">
                <img data-u="image" src="img/001.jpg" />
                <div style="position:absolute;top:57px;left:92px;width:400px;height:250px;background-color:rgba(255,188,5,0.8);font-size:16px;color:#ffffff;line-height:1.88;text-align:left;padding:10px 10px 10px 10px;box-sizing:border-box;">Settings <br /><br />
                    Layout -> Slide -> Orientation: Vertical<br /> 
                    Options -> Drag -> Orientation: Vertical
                </div>
            </div>
            <div data-p="170.00">
                <img data-u="image" src="img/002.jpg" />
            </div>
            <div data-p="170.00">
                <img data-u="image" src="img/003.jpg" />
            </div>
            <div data-p="170.00">
                <img data-u="image" src="img/004.jpg" />
            </div>
            <div data-p="170.00">
                <img data-u="image" src="img/005.jpg" />
            </div>
            <div data-p="170.00">
                <img data-u="image" src="img/006.jpg" />
            </div>
            <div data-p="170.00">
                <img data-u="image" src="img/007.jpg" />
            </div>
            <div data-p="170.00">
                <img data-u="image" src="img/008.jpg" />
            </div>
            <div data-p="170.00">
                <img data-u="image" src="img/009.jpg" />
            </div>
            <div data-p="170.00">
                <img data-u="image" src="img/010.jpg" />
            </div>
            <div data-p="170.00">
                <img data-u="image" src="img/011.jpg" />
            </div>
        </div>
        <!-- Bullet Navigator -->
        <div data-u="navigator" class="jssorb031" style="position:absolute;bottom:12px;right:12px;" data-autocenter="2" data-scale="0.5" data-scale-right="0.75">
            <div data-u="prototype" class="i" style="width:12px;height:12px;">
                <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                    <circle class="b" cx="8000" cy="8000" r="5800"></circle>
                </svg>
            </div>
        </div>
    </div>
<script type="text/javascript">jssor_1_slider_init();</script>
<!-- #endregion Jssor Slider End -->





{% endblock %}