{% extends "app/layout.html" %}

{% block content %}

<br/>
<div class="subject4">{{ title }}.</div>
<h3>{{ message }}</h3>


<p>
    오파츠 서버
</p>

<section class="features4 cid-qx5qWEY6aU" id="features4-a" data-rv-view="6463">
    
         

    
    <div class="container">
        <div class="media-container-row">
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper media-container-row media-container-row">
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-5">
                            15 Photos</h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            You’ll get at least 15 photos.  In eleifend, massa vitae tincidunt sagittis, nulla dui suscipit quam, tristique imperdiet enim nibh et ex. Donec id imperdiet massa.</p>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper media-container-row">
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-5">
                            1 Month</h4>
                        <p class="mbr-text mbr-fonts-style display-7">You'll get your photos within 1 month since your photo session.&nbsp;Etiam mauris sem, iaculis in nisl at, feugiat tincidunt dui.&nbsp;</p>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper media-container-row">
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-5">
                            Unique Style</h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            Nullam a fermentum felis, in varius nibh. Sed metus metus, vulputate eu faucibus nec, pulvinar sed elit. Ut neque lectus, egestas id leo eget, porta lobortis ex.&nbsp;</p>
                    </div>
                </div>
            </div>

            
        </div>
    </div>
</section>

<section class="header1 cid-qypAJ3fG88 mbr-parallax-background" id="header1-l" data-rv-view="6466">

    

    <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(0, 0, 0);">
    </div>

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                
                
                <p class="mbr-text align-center pb-3 mbr-fonts-style display-5">
                    Maecenas sit amet mattis justo. Phasellus mauris ante, consectetur ac laoreet eget, feugiat eget enim. Nunc est nibh, molestie quis dui ac, gravida malesuada ligula. Aenean placerat faucibus quam, a malesuada nibh molestie vel. Aenean ut quam purus. Fusce odio neque, laoreet et magna at, fringilla porta ligula. Proin elementum blandit placerat. Proin blandit lacus vitae tristique consectetur. Nam sagittis risus consequat neque auctor fermentum. Sed in sapien eu erat ornare blandit non non eros.
                </p>
                <div class="mbr-section-btn align-center"><a class="btn btn-md btn-white-outline display-4" href="#">ORDER A PHOTO SESSION NOW</a></div>
            </div>
        </div>
    </div>

</section>




{% endblock %}





<!--    

<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Dg0IjOzopYU?autoplay=1" frameborder="0"></iframe>
</div>

<div class="thumbnail img-auto">
    { % load static %}
    <img src="{ % static 'app/media/environment_mob_1.png' %}" alt="environment_mob_1 image">
</div>


<div class="thumbnail img-auto">
    { % load static %}
    <img src="{ % static 'app/media/environment_mob_2.png' %}" alt="environment_mob_2 image">
</div>


<div class="thumbnail img-auto">
    { % load static %}
    <img src="{ % static 'app/media/environment_mob_3.png' %}" alt="environment_mob_3 image">
</div>


<div class="thumbnail img-auto">
    { % load static %}
    <img src="{ % static 'app/media/environment_mob_4.png' %}" alt="environment_mob_4 image">
</div>


<div class="thumbnail img-auto">
    { % load static %}
    <img src="{ % static 'app/media/environment_mob_5.png' %}" alt="environment_mob_5 image">
</div>
-->