{% extends "app/layout.html" %}

{% block content %}

<br/>
<div class="subject4">{{ title }}.</div>
<h3>{{ message }}</h3>


<p>
    오파츠 서버
</p>






{% endblock %}





<!--    

<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Dg0IjOzopYU?autoplay=1" frameborder="0"></iframe>
</div>

<div class="thumbnail img-auto">
    { % load static %}
    <img src="{ % static 'app/media/environment_mob_1.png' %}" alt="environment_mob_1 image">
</div>


<div class="thumbnail img-auto">
    { % load static %}
    <img src="{ % static 'app/media/environment_mob_2.png' %}" alt="environment_mob_2 image">
</div>


<div class="thumbnail img-auto">
    { % load static %}
    <img src="{ % static 'app/media/environment_mob_3.png' %}" alt="environment_mob_3 image">
</div>


<div class="thumbnail img-auto">
    { % load static %}
    <img src="{ % static 'app/media/environment_mob_4.png' %}" alt="environment_mob_4 image">
</div>


<div class="thumbnail img-auto">
    { % load static %}
    <img src="{ % static 'app/media/environment_mob_5.png' %}" alt="environment_mob_5 image">
</div>
-->