<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- 장치에 맟줘 크기를 조정 -->
    <title>{{ title }} - 마인크래프트 오파츠 야생서버 !</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}"/>
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
</head>

<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <!--화면 크기에 따라 변하는 고정바-->
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand menu-bar-main-0">Minecraft OOPARTS server</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a class="menu-bar-main-1" href="{% url 'home' %}">Home</a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle menu-bar-main-1" data-toggle="dropdown" href="#">
                        소개
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{% url 'about' %}">소개글</a>
                        </li>
                        <li>
                            <a href="{% url 'feature' %}">특징</a>
                        </li>
                        <li>
                            <a href="{% url 'history' %}">역사</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="menu-bar-main-1" href="{% url 'contact' %}">연락</a>
                </li>
                <li>
                    <a class="menu-bar-main-1" href="{% url 'environment' %}">환경</a>
                </li>
                <li>
                    <a class="menu-bar-main-1" href="{% url 'best' %}">대표 건축물</a>
                </li>
            </ul>
            {% include 'app/loginpartial.html' %}
        </div>
    </div>
</div>
<div class="container body-content">
    {% block content %}{% endblock %}
    <hr/>
    <footer>
        <strong >&copy; Wbfw109</strong><br/>
        <div class="indent5">: {{ year }} - Minecraft OOPARTS server</div>
    </footer>
</div>

<script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
<script src="{% static 'app/scripts/bootstrap.js' %}"></script>
<script src="{% static 'app/scripts/respond.js' %}"></script>
{% block scripts %}

{% endblock %}

</body>
</html>



<!--  
    Bootstrap is a free and open-source front-end library for designing websites and web applications.
        // https://getbootstrap.com/
        Bootstrap for responsive layout that accommodates mobile form factors.
        It contains HTML- and CSS-based design templates for typography, forms, buttons, navigation and other interface components, as well as optional JavaScript extensions.
        Unlike many web frameworks, it concerns itself with front-end development only.
            Front-end web development is the practice of converting data to graphical interface for user to view and interact with data through digital interaction using HTML, CSS and Javascript.
        // https://www.w3schools.com/bootstrap/default.asp
        
        ★ bootstrap.css VS bootstrap.min.css
            bootstrap.min.css has been minified. This means all the whitespace and other extra characters have been removed.
            This is commonly done for use in production, to reduce the size of the file.
            When developing, it is usually helpful to use the unminified version, since, as you said, it is readable.
        - navbar (navigation bar)
        - Containers are the most basic layout element in Bootstrap and are required when using our default grid system.
            Containers are the most basic layout element in Bootstrap and are required when using our default grid system.
            Choose from a responsive, fixed-width container (meaning its max-width changes at each breakpoint) or fluid-width (meaning it’s 100% wide all the time).
        - navbar-header
            The navbar-header is mostly an architectural class for Bootstrap navbar.
            It allocates approximately 150px to the left of the navbar to wrap the navbar-brand and allow the brand name or logo to make use of the entire area on click or hover.
        [Invalid]
            [Edit]
                navbar-reverse 
                    background: white url("../media/65770095_p0.jpg") no-repeat;
        [Add]
            [Invalid]
            .navbar-inverse-custom-background-1 {
                background-color: #222;
                border-color: #080808;
            }

    modernizr.js (모더나이저)
        It’s a collection of superfast tests – or “detects” as we like to call them – which run as your web page loads,
            then you can use the results to tailor the experience to the user.
        Modernizr란 사용자의 브라우저가 현재 가지고 있는 HTML5, CSS 기능들을 감지하고 지원여부를 판별하는 Javascript 라이브러리 입니다.
            다양한 브라우저에서 지원되는 기능을 하나씩 확인해가면서 개발하는 것은 현실적으로 불가능하기 때문에 Modernizr와 같은 라이브러리를 통해 필요기능을 감지하고 지원 여부에 따라 개발자가 동적으로 처리를 달리할 수 있습니다.
    
    respond.js
        Media queries is a CSS3 module allowing content rendering to adapt to conditions such as screen resolution (e.g. smartphone screen vs. computer screen).
        It became a W3C recommended standard in June 2012, and is a cornerstone technology of responsive web design (RWD).
    
    JQuery
        JQuery is a cross-platform JavaScript library designed to simplify the client-side scripting of HTML. It is free, 
        pen-source software using the permissive MIT License. Web analysis indicates that it is the most widely deployed JavaScript library by a large margin.

    CSS (Cascading Style Sheet)
        Basic
            // https://code.tutsplus.com/ko/tutorials/the-30-css-selectors-you-must-memorize--net-16048
        Image
            https://getbootstrap.com/docs/4.0/content/images/
        @ (at-rules)
    
        href="#"
            페이지의 이동 없이 스크립트만 실행
    Django
        [settings.py] view.py     →   urls.py   →   *.html
        { { foo }}
            this is a placeholder in the template, for the variable foo that is passed to the template from a view.

        { %  %} 
            when text is surrounded by these delimiters,
            it means that there is some special function or code running, and the result of that will be placed here
            [Ex.]
                forms.py, login.html
                { {form.username }} is variable in forms.py

        django.contrib contains optional, de facto standard implementations of common patterns
            (djang contribution)
    
        Login
            When you submit the form, Django attempts to authenticate the credentials you provide (such as the super user's credentials).
            If authentication fails, you remain on the same page but form.errors set to true.
            If authentication is successful, Django navigates to the relative URL in the "next" field, <input type="hidden" name="next" value="/" />
                ,which in this case is the home page (/).
        이미지 style 구문 안에서 삽입
            style="background-image:url({ { STATIC_URL }}/app/media/Beta_3.png">
??
     내부에서.. 창이 제대로 안뜸
    static staticfiles 차이
    사진이 되는 것이 있고 안되는것이 있음.. 업로드..라고 해야하나..
    HTML 에서 직접 백그라운드 static ~ 하는법
    embed ..보안 오류;

-->

















<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - 마인크래프트 야생 오파츠 서버 !</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Minecraft OOPARTS server</a>
            </div>
            <div class="navbar-collapse collapse">
                <a href="{% url 'home' %}">Home</a>
            </div>
            <ul class="navbar-collapse collapse">
                <li class="dropdown">
                    <a class="dropdown-toggle menu-bar-main-1" data-toggle="dropdown" href="#">
                    소개</a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'about' %}">소개글</a></li>
                    <li><a href="{% url 'feature' %}">특징</a></li>
                    <li><a href="{% url 'history' %}">역사</a></li>
                </ul>
                </li>
            </ul>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'contact' %}">연락</a></li>
                    <li><a href="{% url 'environment' %}">환경</a></li>
                    <li><a href="{% url 'best' %}">대표 건축물</a></li>
                </ul>
                {% include 'app/loginpartial.html' %}
            </div>
        </div>
    </div>
<div class="container body-content">
    {% block content %}{% endblock %}
    <hr/>
    <footer>
        <strong >&copy; Wbfw109</strong><br/>
        <div class="indent5">: {{ year }} - Minecraft OOPARTS server</div>
    </footer>
</div>

<script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
<script src="{% static 'app/scripts/bootstrap.js' %}"></script>
<script src="{% static 'app/scripts/respond.js' %}"></script>
{% block scripts %}

{% endblock %}

</body>
</html>




<!--  
    Bootstrap is a free and open-source front-end library for designing websites and web applications.
        // https://getbootstrap.com/
        Bootstrap for responsive layout that accommodates mobile form factors.
        It contains HTML- and CSS-based design templates for typography, forms, buttons, navigation and other interface components, as well as optional JavaScript extensions.
        Unlike many web frameworks, it concerns itself with front-end development only.
            Front-end web development is the practice of converting data to graphical interface for user to view and interact with data through digital interaction using HTML, CSS and Javascript.
        // https://www.w3schools.com/bootstrap/default.asp
        
        ★ bootstrap.css VS bootstrap.min.css
            bootstrap.min.css has been minified. This means all the whitespace and other extra characters have been removed.
            This is commonly done for use in production, to reduce the size of the file.
            When developing, it is usually helpful to use the unminified version, since, as you said, it is readable.
        - navbar (navigation bar)
        - Containers are the most basic layout element in Bootstrap and are required when using our default grid system.
            Containers are the most basic layout element in Bootstrap and are required when using our default grid system.
            Choose from a responsive, fixed-width container (meaning its max-width changes at each breakpoint) or fluid-width (meaning it’s 100% wide all the time).
        - navbar-header
            The navbar-header is mostly an architectural class for Bootstrap navbar.
            It allocates approximately 150px to the left of the navbar to wrap the navbar-brand and allow the brand name or logo to make use of the entire area on click or hover.
        [Invalid]
            [Edit]
                navbar-reverse 
                    background: white url("../media/65770095_p0.jpg") no-repeat;
        [Add]
            [Invalid]
            .navbar-inverse-custom-background-1 {
                background-color: #222;
                border-color: #080808;
            }

    modernizr.js (모더나이저)
        It’s a collection of superfast tests – or “detects” as we like to call them – which run as your web page loads,
            then you can use the results to tailor the experience to the user.
        Modernizr란 사용자의 브라우저가 현재 가지고 있는 HTML5, CSS 기능들을 감지하고 지원여부를 판별하는 Javascript 라이브러리 입니다.
            다양한 브라우저에서 지원되는 기능을 하나씩 확인해가면서 개발하는 것은 현실적으로 불가능하기 때문에 Modernizr와 같은 라이브러리를 통해 필요기능을 감지하고 지원 여부에 따라 개발자가 동적으로 처리를 달리할 수 있습니다.
    
    respond.js
        Media queries is a CSS3 module allowing content rendering to adapt to conditions such as screen resolution (e.g. smartphone screen vs. computer screen).
        It became a W3C recommended standard in June 2012, and is a cornerstone technology of responsive web design (RWD).
    
    JQuery
        JQuery is a cross-platform JavaScript library designed to simplify the client-side scripting of HTML. It is free, 
        pen-source software using the permissive MIT License. Web analysis indicates that it is the most widely deployed JavaScript library by a large margin.
    
    HTML
        embed tag   -> needed  ~~ /embed/ ~~
            YouTube Embedded Players and Player Parameters
                // https://developers.google.com/youtube/player_parameters?hl=ko
    CSS (Cascading Style Sheet)
        Basic
            // https://code.tutsplus.com/ko/tutorials/the-30-css-selectors-you-must-memorize--net-16048
        Image
            https://getbootstrap.com/docs/4.0/content/images/
        @ (at-rules)
    
        href="#"
            페이지의 이동 없이 스크립트만 실행

    Django
        [settings.py] view.py     →   urls.py   →   *.html
        { { foo }}
            this is a placeholder in the template, for the variable foo that is passed to the template from a view.

        { %  %} 
            when text is surrounded by these delimiters,
            it means that there is some special function or code running, and the result of that will be placed here
            [Ex.]
                forms.py, login.html
                { {form.username }} is variable in forms.py

        django.contrib contains optional, de facto standard implementations of common patterns
            (djang contribution)
    
        Login
            When you submit the form, Django attempts to authenticate the credentials you provide (such as the super user's credentials).
            If authentication fails, you remain on the same page but form.errors set to true.
            If authentication is successful, Django navigates to the relative URL in the "next" field, <input type="hidden" name="next" value="/" />
                ,which in this case is the home page (/).
        이미지 style 구문 안에서 삽입
            style="background-image:url({ { STATIC_URL }}/app/media/Beta_3.png">
??
     내부에서.. 창이 제대로 안뜸
    static staticfiles 차이
    사진이 되는 것이 있고 안되는것이 있음.. 업로드..라고 해야하나..
    HTML 에서 직접 백그라운드 static ~ 하는법
    embed ..보안 오류;

-->

