{% if user.is_authenticated %}
<form id="logoutForm" action="/logout" method="post" class="">
    {% csrf_token %}
    <ul class="nav navbar-nav">
        <li><div class="navbar-brand"> Login on &lt; {{ user.username }} &gt;</div></li>
        <li><a class ="menu-bar-main-3 font-weight-bold" href="javascript:document.getElementById('logoutForm').submit()">로그아웃</a></li>
    </ul>
</form>

{% else %}

<ul class="nav navbar-nav">
    <li><a class ="menu-bar-main-3 font-weight-bold" href="{% url 'login' %}">로그인</a></li>
</ul>

{% endif %}