{% extends "app/layout.html" %}

{% block styletypes %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'app/scripts/sly.min' %}"/>
{% endblock %}



{% block content %}

<br/>
<div class="responsive-display-3 head-word font-weight-bold">{{ title }}.</div>
<h3 class="body-set-1-strong font-weight-bold">{{ message }}</h3>









<div class="wrap">
    <h2>Item based navigation <small>- smart</small></h2>

    <div class="scrollbar">
        <div class="handle">
            <div class="mousearea"></div>
        </div>
    </div>

    <div class="frame smart" id="smart">
        <ul class="items">
            <li>0</li><li>1</li><li>2</li><li>3</li><li>4</li><li>5</li><li>6</li><li>7</li><li>8</li><li>9</li>
            <li>10</li><li>11</li><li>12</li><li>13</li><li>14</li><li>15</li><li>16</li><li>17</li><li>18</li>
            <li>19</li><li>20</li><li>21</li><li>22</li><li>23</li><li>24</li><li>25</li><li>26</li><li>27</li>
            <li>28</li><li>29</li>
        </ul>
    </div>

    <ul class="pages"></ul>

    <div class="controls center">
        <p>
            <button class="btn prevPage"><i class="icon-chevron-left"></i><i class="icon-chevron-left"></i> prevPage</button>
            <button class="btn prev"><i class="icon-chevron-left"></i> prev</button>

            <span class="btn-group">
                <button class="btn add"><i class="icon-plus-sign"></i></button>
                <button class="btn remove"><i class="icon-minus-sign"></i></button>
            </span>

            <button class="btn next">next <i class="icon-chevron-right"></i></button>
            <button class="btn nextPage">nextPage <i class="icon-chevron-right"></i><i class="icon-chevron-right"></i></button>
        </p>

        <p>
            <span class="btn-group">
                <button class="btn toStart">toStart</button>
                <button class="btn toCenter">toCenter</button>
                <button class="btn toEnd">toEnd</button>
            </span>

            <span class="btn-group">
                <button class="btn toStart" data-item="10"><strong>10</strong> toStart</button>
                <button class="btn toCenter" data-item="10"><strong>10</strong> toCenter</button>
                <button class="btn toEnd" data-item="10"><strong>10</strong> toEnd</button>
            </span>
        </p>
    </div>
</div>
</div>
















<p class ="responsive-display-9">
    오파츠 서버(하늘, 고지대, 지상, 물+얼음, 지하, 지옥(불+용암), 엔더)
    sky-ecosystem-1, 2 .. sky-mob-1 ... 진행중.....
</p>

<a href="#" data-toggle="modal" data-target="#sky-ecosystem-1">
    <img class="mx-auto img-fluid rounded" src="{% static 'app/media/environment_mob_1.png' %}" alt="">
</a>
<div class="modal fade" id="sky-ecosystem-1" tabindex="-1" role="dialog" aria-labelledby="sky-ecosystem-1-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-full" role="document">
        <div class="modal-body">
            <img class="mx-auto d-block img-fluid" src="{% static 'app/media/environment_mob_1.png' %}" alt="">
        </div>
    </div>
</div>




<a href="#" data-toggle="modal" data-target="#sky-ecosystem-2">
    <img class="mx-auto img-fluid rounded" src="{% static 'app/media/environment_mob_2.png' %}" alt="">
</a>
<div class="modal fade" id="sky-ecosystem-2" tabindex="-1" role="dialog" aria-labelledby="sky-ecosystem-2-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-full" role="document">
        <div class="modal-body">
            <img class="mx-auto d-block img-fluid" src="{% static 'app/media/environment_mob_2.png' %}" alt="">
        </div>
    </div>
</div>




<a href="#" data-toggle="modal" data-target="#sky-ecosystem-3">
    <img class="mx-auto img-fluid rounded" src="{% static 'app/media/environment_mob_3.png' %}" alt="">
</a>
<div class="modal fade" id="sky-ecosystem-3" tabindex="-1" role="dialog" aria-labelledby="sky-ecosystem-3-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-full" role="document">
        <div class="modal-body">
            <img class="mx-auto d-block img-fluid" src="{% static 'app/media/environment_mob_3.png' %}" alt="">
        </div>
    </div>
</div>




<a href="#" data-toggle="modal" data-target="#sky-ecosystem-4">
    <img class="mx-auto img-fluid rounded" src="{% static 'app/media/environment_mob_4.png' %}" alt="">
</a>
<div class="modal fade" id="sky-ecosystem-4" tabindex="-1" role="dialog" aria-labelledby="sky-ecosystem-4-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-full" role="document">
        <div class="modal-body">
            <img class="mx-auto d-block img-fluid" src="{% static 'app/media/environment_mob_4.png' %}" alt="">
        </div>
    </div>
</div>




<a href="#" data-toggle="modal" data-target="#sky-ecosystem-5">
    <img class="mx-auto img-fluid rounded" src="{% static 'app/media/environment_mob_5.png' %}" alt="">
</a>
<div class="modal fade" id="sky-ecosystem-5" tabindex="-1" role="dialog" aria-labelledby="sky-ecosystem-5-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-full" role="document">
        <div class="modal-body">
            <img class="mx-auto d-block img-fluid" src="{% static 'app/media/environment_mob_5.png' %}" alt="">
        </div>
    </div>
</div>



{% endblock %}