body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */

input,
select,
textarea { max-width: 280px; }

/* styles for validation helpers */

.field-validation-error { color: #b94a48; }

.field-validation-valid { display: none; }

input.input-validation-error { border: 1px solid #b94a48; }

input[type="checkbox"].input-validation-error { border: 0 none; }

.validation-summary-errors { color: #b94a48; }

.validation-summary-valid { display: none; }


p div { text-indent: 10px }

.indent1 { text-indent: 50px; }

.indent2 { text-indent: 40px; }

.indent3 { text-indent: 30px; }

.indent4 { text-indent: 20px; }

.indent5 { text-indent: 10px; }



.menu-bar-main-0 { color: red !important; }

.menu-bar-main-1 { color: khaki !important; }

.menu-bar-main-2 { color: mediumpurple !important; }

.menu-bar-main-0:hover,
.menu-bar-main-1:hover,
.menu-bar-main-2:hover { color: mediumspringgreen !important; }

.button-bar-main-1 { background-color: darkslateblue; }

.button-bar-main-1:hover {
    color: mediumspringgreen;
    background-color: darkslategray;
}


.img-main {
    background-image: url('../media/banner.png');
    background-size: cover;
}
.img-main.img-main-text{
    background-color: bisque !important;
}


.text-bg {
    background-color: azure;
    display: inline-block;
    padding: 10px;
}


/*
    흠.. 나중에 사진.. 큰거로;.. 안맞네.. no repeat 로 바꾸자.
        background-repeat: no-repeat;


    p > div {
        text-indent: 10px;
    }

    p > div > div {
        text-indent: 20px;
    }
    ??


    CSS Lint
        Don't use !important ..... ...?

    텍스트 크기 display 속성.
    .. ?어떻게 하는거죠 투명도 ㅠㅠ 배경만..
*/